// Body
$body-bg: #303555;
$body-bg-rgba: rgba(48, 53, 85, .9);
$dark-bg: #252943;
$dark-bg-rgba: rgba(37, 41, 67, .9);
$admin-header-bg: #2b2f4c;
$text-color: #fdfdfd;
$text-color-two: #b6c4d2;
$text-color-three: #6f7bb6;
$text-color-orange: #fbb527;
$text-grey: #9a9a9a;
$box-shadow: 4px 5px 10px #191e40;
$btn-shadow: 2px 2px 10px 10px #6d4929;
$green-gradient: linear-gradient(180deg, #61ca6b, #199991);
$yellow-gradient: linear-gradient(180deg, #deb62c, #ff8758);
$footer-bg: #3d4266;
$footer-link-color: #9a9fbe;
$card-border: 2px solid #272b45;
$toggle-btn-checked: #b4ff00;
$toggle-btn-checked-bg: #51b94e;

$green-bg: #60b95b;
$orange-bg: #cd953e;
$red-bg: #e72d2d;


// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

