.modalDrawWinner{
    display: flex;
    flex-direction: column;

    .btnBox{
        .btnWrapper{
            margin-bottom: 15px;
            display: flex;
            justify-content: center;
        }
    }
}

.control{
    background-color: #303555;
    color: #ffffff;
}

.prefix{
    background-color: #3d4266;
}

.drawOther{
    color: #e72d2d;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    &:hover{
        cursor: pointer;
        color: #ff0000;
    }
}
