@import "../../variables";

.gameDesc {


    .imageBox {
        position: relative;
        width: 100%;
        max-height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 60px 0;

        .left, .right, .center {
            border: 1px solid $text-color-three;
            box-shadow: $box-shadow;
        }

        .left, .right {
            width: 40%;
            max-height: 209px;
        }

        .left {
            left: 0;
        }

        .right {
            right: 0;
        }

        .center {
            position: absolute;
            height: 100%;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%) scale(1.3, 1.3);
            -moz-transform: translate(-50%, -50%) scale(1.3, 1.3);
            -ms-transform: translate(-50%, -50%) scale(1.3, 1.3);
            -o-transform: translate(-50%, -50%) scale(1.3, 1.3);
            transform: translate(-50%, -50%) scale(1.3, 1.3);
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        background-color: $body-bg-rgba;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        padding: 20px 5px 25px;
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        box-shadow: $box-shadow;

        .tasks {
            display: flex;
            padding-left: 0;

            a, li {
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                width: 78px;
                height: 78px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $body-bg;
                -webkit-box-shadow: $box-shadow;
                -moz-box-shadow: $box-shadow;
                box-shadow: $box-shadow;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                margin-right: 15px;

                &:hover, &.active {
                    border: 1px solid $text-color-three;
                    cursor: pointer;
                }

            }
        }

        .iconSteam{
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 80px;
            width: 80px;
            height: 80px;
            border: 2px solid $text-color-three;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }

        .subscribe {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            //flex-wrap: wrap;
            border: 2px solid $text-color-three;
            padding: 30px 5px 20px 5px;
            margin-top: 25px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            -webkit-box-shadow: $box-shadow;
            -moz-box-shadow: $box-shadow;
            box-shadow: $box-shadow;

            p, span, a {
                text-transform: uppercase;
                color: $text-grey;
                font-weight: 900;
                font-size: 14px;
                margin-bottom: 0;
                -webkit-user-select: none;  /* Chrome all / Safari all */
                -moz-user-select: none;     /* Firefox all */
                -ms-user-select: none;      /* IE 10+ */
                user-select: none;          /* Likely future */
            }

            span {
                color: $text-color;
                margin-right: 25px;
            }

            a {
                text-decoration: underline;
            }

            .clipboard {
                outline: none;
                border: none;
                background: none;
                text-transform: uppercase;
                text-decoration: underline;
                padding: 2px 5px;
                font-weight: 900;
                color: $text-grey;
                font-size: 14px;
            }

            .clipboardMod {
                border: 3px solid white;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 40px;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                width: 62px;
                height: 62px;
                -webkit-transform: scale(.5);
                -moz-transform: scale(.5);
                -ms-transform: scale(.5);
                -o-transform: scale(.5);
                transform: scale(.5);
            }

            .checkWebsite{
                outline: none;
                background: none;
                text-transform: uppercase;
                text-decoration: underline;
                padding: 2px 5px;
                font-weight: 900;
                color: $text-grey;
                font-size: 14px;
                border: 1px solid transparent;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                -webkit-transition: all .2s;
                -moz-transition: all .2s;
                -ms-transition: all .2s;
                -o-transition: all .2s;
                transition: all .2s;
                &:hover {
                    text-decoration: none;
                    border: 1px solid $text-color-orange;
                    color: $text-color-orange;
                    -webkit-transform: scale(1.3,1.3);
                    -moz-transform: scale(1.3,1.3);
                    -ms-transform: scale(1.3,1.3);
                    -o-transform: scale(1.3,1.3);
                    transform: scale(1.3,1.3);
                    -webkit-box-shadow: -10px 0px 13px -7px #ff8758, 10px 0px 13px -7px #ff8758, 5px 5px 15px 5px rgba(0,0,0,0);
                    box-shadow: -10px 0px 13px -7px #ff8758, 10px 0px 13px -7px #ff8758, 5px 5px 15px 5px rgba(0,0,0,0);
                }

            }
        }
    }

    .content {
        color: $text-color-three;
        text-align: center;
    }

    .btnWrapper {
        display: flex;
        position: relative;
        justify-content: center;
        padding: 25px 25px 25px 30px;

        .share {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 0;
        }
    }
}

.loginGoogle {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .gameDesc {

        .links {
            padding: 20px 20px 25px;

            .subscribe {
                padding: 30px 25px 30px 35px;

                p, span, a, .clipboard {
                    font-size: 1rem;
                }
            }
        }

        .btnWrapper {
        }
    }
}
