@import "../variables";

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 7;
}

.langBtn{
    span {
        &:nth-of-type(2){
            display: none;
        }
    }
}

@media (min-width: 488px) {
    .header {
        justify-content: space-between;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .header {
        padding-top: 25px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
    }
}
